.headerContainer {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  /* height: 130px; */
}

.headTitleContainer {
  display: flex;
  flex-grow: 4;
  justify-content: center;
}
