.side-menu-container,
.admin-side-bar-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: start; */

  padding: 15px;
  height: calc(100vh - 122px);
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

li {
  border: 1px solid white;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
